.article-title{
    font-family: "cheltenham-italic-light",'Libre-Franklin',serif;
    font-weight: 700;
    font-size: 40px;
    margin: 0;
    margin-bottom: 8px;
    margin-top: 30px;
    line-height: 46px;
}
.each-article-top-div{
    width: 600px;  
}
.each-article-bottom-div{
    width: 1180px;
    display: flex;
    flex-direction: row;
}

.each-article-main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 99.9%;
}
.each-article-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.each-article-abstract{
    font-family: "cheltanham-std-light",'Libre-Franklin',serif;
    font-size: 23px;
    font-weight: 300;
    margin:0;
    color: var(--color-content-secondary,#363636);
    margin-bottom: 30px;
}

.article-top-div{
    border-top: 1px solid var(--color-stroke-quaternary);
    padding-top: 20px;
   
}

.share-full-article{
    display: flex;
    align-items: center;
    padding: 6px 10px;
    border: 1px solid var(--color-stroke-quaternary);
    border-radius: 30px;
    font-size: 12px;
    margin-right: 12px;

}



.gift-icon{
    margin-right: 5px;
}

.article-cta-div{
    display: flex;
}

.article-share-div{
    border:1px solid var(--color-stroke-quaternary);
    border-radius: 50%;
    padding: 6px;
    width: 20px;
    height: 20px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.share-full-article:hover,
.article-share-div:hover{
    background-color: var(--color-background-tertiary,#EBEBEB);
    cursor: pointer;
}


.article-share-icon{
    width: 20px;
    height: 15px;
    
}


.article-save-icon{
    width: 12px;
    height: 18px;
}

.article-figure{
    margin-left: 0;
    margin-top: 25px;
    margin-bottom: 40px;
}
.article-fig-caption{
    margin-top: 10px;
    color: var(--color-content-quaternary,#727272);
    font-size: 16px;
    font-family: "custom-georgia-regular",'Libre-Franklin',serif;
    line-height: 20px;
   
}
.article-img-copyright{
    color: var(--color-content-quaternary,#727272);
    font-size: 13px;
    font-family: "custom-georgia-regular",'Libre-Franklin',serif;
}
.article-main-img{
    object-fit: contain;
}

.article-byline{
  font-size: 15px;
  font-weight: 700;
  margin-top: 0;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.article-byline-span{
    text-decoration: underline;
    font-size: 15px;
  font-weight: 700;
  margin-left: 3px;
}

.article-formatted-date{
    white-space: nowrap;
    font-size: 13px;
    color: rgb(54, 54, 54);
    
}
.article-formatted-date-span{
    white-space: nowrap;
    font-size: 13px;
    color: var(--color-content-quaternary,#727272);
    margin-left: 13px;
}

.article-paragraph-content{
    font-family: "custom-georgia-regular",'Libre-Franklin',serif;
    font-size: 20px;
    line-height: 30px;
    color: var(--color-content-secondary,#363636);
}


.auth-img{
    width:50px;
    height: 50px;
    margin-right: 10px;
}

.article-end-cta-div{
    margin: 24px 0px;
}

.more-in-continent-div{
   border-top: 2px solid black;
   width: 855px;
   margin-right: 20px;
}

.trending-nyt-div{
    border-top: 2px solid black; 
   
}

@media  screen and (max-width:1000px) {
    .each-article-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 98vw;
    }
    .each-article-section{
width: 98vw;
    }
    .each-article-main-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 980px;
    }

    .each-article-bottom-div{
        display: block;
        width: 950px;
    }

   
}



@media  screen and (max-width:700px){
    .each-article-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 98vw;
    }
    .each-article-section{
width: 98vw;
    }
    .each-article-main-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 670px;
    }

    .each-article-bottom-div{
        display: block;
        width: 620px;
    }
}
