.middle-section-each-country {
    width: 1200px;
}

.news-section-h1-each-country {
    margin: 6px 0;
    font-family: 'KarnakFont', 'Noto Serif Georgian', 'Libre-Franklin', serif;
    font-size: 44px;
    letter-spacing: 1px;
    line-height: 44px;
}

.news-section-each-country {
    font-size: 11px;
    font-weight: 700;
    line-height: 19px;
    margin-left: 0px;
    padding-top: 8px;
    margin-top: 10px;
}

.loading-country-news-div {
    font-size: 26px;
    font-weight: 600;
    width: 98vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:1000px) {
    .middle-section-each-country {
        width: 900px;
    }
}

@media screen and (max-width:700px) {
    .middle-section-each-country {
        width: 650px;
    }
}

@media screen and (max-width:425px) {
    .middle-section-each-country {
        width: 410px;
    }

    .news-section-h1-each-country {
        margin: 6px 0;
        font-family: 'KarnakFont', 'Noto Serif Georgian', 'Libre-Franklin', serif;
        font-size: 32px;
        letter-spacing: 1px;
        line-height: 44px;
    }

}